.fs-18 {
    font-size: 18px;
  }
  .f-fwb {
    font-weight: 800;
  }
  .f-oh {
    overflow: hidden;
  }
  .f-fl {
    float: left;
  }
  .f-fr {
    float: right;
  }
  .ml10 {
    margin-left: 10px;
  }
  .ml20{
      margin-left: 20px;
  }